<div ng-include src="'header.html'"></div>

<div class="jumbotron">
  <div class="container">
    <ul class="categories">
      <li ng-repeat="category in categories">
        <span ng-click="filterByCategory(category)">{{category}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{headingTitle}}
      <div class="pull-right">
        <input class="search" type="text" ng-model="query.name" placeholder="Search...">
      </div>
    </div>
    <div class="panel-body list-group">
      <ul>
        <div class="row post-list" ng-repeat="post in posts | filter:query | orderBy:'date':true">
          <li class="list-group-item">
            <h3>{{post.title}}
              <small> {{post.poster.username}} </small>
            </h3>
            <small class="text-right text-muted">Date: {{post.date | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</small>
          </li>
          <div class="text-left panel-body">
            <p>{{post.content}}</p>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>